{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<br>
<h3><u>Mes informations</u></h3>
<br>
<ul class="list-group">
    <li class="list-group-item"><strong>Identifiant :</strong> {{ app.user ? app.user.pseudo : "" }}</li>
    <li class="list-group-item"><strong>Mot de Passe :</strong> *************** </li>
    <li class="list-group-item"><strong>Autorisations :</strong>

    {% for role in app.user.roles %}
        {% if role == 'ROLE_ADMIN' %}
            Administrateur
        {% elseif role == 'ROLE_PLAYER' %}
            Joueur
        {% elseif role == 'ROLE_REFEREE' %}
            Arbitre
        {% else %}
            Utilisateur
        {% endif %}
        
        {{ not loop.last ? '|' : '' }}
    {% endfor %}
    </li>
    <ul class="list-group">
        <li class="list-group-item"><strong>Pseudo :</strong> {{ app.user.player ? app.user.player.nickname : "" }}</li>
        <li class="list-group-item"><strong>Email :</strong> {{ app.user.player ? app.user.player.email : ""  }}</li>
    </ul>
{% endblock %}


